3EG assets.docx
3EG website build.docx
3EG.JPG
ChatGPT Image Aug 4, 2026, 05_45_14 PM.png
ChatGPT Image Aug 4, 2026, 05_53_02 PM.png
desktop.ini
tegcomingsoon test.png
tegcomingsoon.af
tegcomingsoon.jpeg
tegcomingsoon.png
assets/old/
